<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CafeTownSend">

    <test name="CafeTests" >

        <parameter name="departing From" value="Sydney"/>
        <parameter name="arriving In" value="London"/>
        <parameter name="first Name" value="Shruthi"/>
        <parameter name="last Name" value="Gowda"/>
        <parameter name="credit card Num" value="123"/>
        <classes  >
            <class name="tests.LoginTest" />
        </classes>
    </test>


</suite>
